<div class="mt-2">

    <form action="/write"  enctype="multipart/form-data">
        <textarea style='min-width:450px;width:80%' class="mb-2" name="content" id="" cols="30" rows="3" placeholder="ban dang thay the nao?">
            
        </textarea> 
         <input name='images' type="file" multiple>         
        <button class='btn btn-success d-block m-auto' onclick=addingNewWrite() type='button'>Đăng Bài`</button>
    </form>
</div>
<script>
    const addingNewWrite =()=>{
        console.log('clicked add')

        fetch('http://localhost:3000/write',{
            headers: {
    
      'Content-Type': 'multipart/form-data'
    },method:'Post'
       }).then(res=>res.json())  
    }
</script>